.colors:hover{
    background-color: none;
}
@media screen and (max-width:1200px) {
    .texts{
        font-size: small;
    }
}
#alert {
    display: none;
    color: red;
    margin-bottom: 10px;
  }